$primary-color: #3733e9;
$dark-primary-color: #1713b4;
$secondary-color: #17396b;
$light-secondary-color: #1534d7;
$hero-secondary-color: #1713b4;
$dark-secondary-color: #1e2db6;
$dark-tertiary-color: #6010af;
$hero-black: #402c54;
$button-color: #3626f1;
$title-color: #495fd2;
$nav-height: 60px;
$card-about-color: #384171;
$about-light-color: #3476c4;
$about-dark-color: #2b4293;
$about-subtitle-color: #23559f;
$card-title-color: #154a98;
$main-dark-color: #000;
$main-light-color: #fff;
$tecnology-title-color: #3b3434;
